# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#lex/yacc generated
MetaParser.cpp
MetaParser.hpp
MetaScanner.cpp
MetaScanner.hpp
CommandParser.cpp
CommandParser.hpp
CommandScanner.cpp
CommandScanner.hpp
ModelParser.cpp
ModelParser.hpp
ModelScanner.cpp
ModelScanner.hpp

#protoscale generated
*.pmm.hpp
*.pmm.cpp
*.pm.hpp
*.pm.cpp

#binaries
proto

#vim
*.swp
*.swo

#debugging info
*.dSYM

